@model IEnumerable<Lr5.Models.Author>
@{
    //ViewData["Title"] = "Добавление книг";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-action="addBook" asp-controller="home" method="post" target="_self">

        <h2>Введите данные для добавления</h2>
        <a asp-action="Index">Menu</a>
        <fieldset>
            <legend>New book</legend>
            <ul>
                <li>
                    <label for="name">Tittle: </label>
                    <input type="text" name="Title" id="name" >
                </li>
                <br>
                <li>
                    <label for="age">Published On: </label>
                    <input type="date" name="PublishedOn" id="PublishedOn" min="0" max="125">
                </li>
                <br>
                <li>
                    <label for="message">Description: </label>
                    <br>
                    <textarea name="Description" id="message"></textarea>
                </li>
                <li>
                    <table>
                        <label for="Author">Author: </label>
                        @foreach (var author in Model)
                        {
                            <tr>
                                <td style="border: 1px solid black;">@author.AuthorId</td>
                                <td style="border: 1px solid black;">@author.Name</td>
                                <td style="border: 1px solid black;">@author.WebUrl</td>
                                <td><input name="AuthorId" id="AuthorId" value="@author.AuthorId" type="radio"></td>
                                <td><a asp-route-id="@author.AuthorId" asp-action="changeAuthor"><button asp-controller="Home" type="button">Изменить</button></a></td>
                                <td><button asp-action="DeleteAuthor" value="@author.AuthorId" id="id" name="id" type="">Удалить</button></td>
                            </tr>
                        }
                    </table>
                    
                </li>
            </ul>
        </fieldset>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>