@model IEnumerable<Lr5.Models.Book>
@{
    //ViewData["Title"] = "Список книг";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Книжный магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
    <h3>Books</h3>
    <form asp-action="IndexSortedId" method="post">
    <table style="border: 3px solid black;">
        <tr>
            <td>
                <a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["idSortParam"]">
                    id
                        @if (ViewData["idSortParam"] != null)
                    @if (ViewData["idSortParam"].ToString() == "id")
                    {
                        <span class="oi oi-arrow-bottom">▾</span>
                    }
                    else if (ViewData["idSortParam"].ToString() == "id_desc")
                    {
                        <span class="oi oi-arrow-top">▴</span>
                    }
                </a>
            </td>
            <td><a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["TitleSortParam"]">
                Tittle
                        @if (ViewData["TitleSortParam"] != null)
                @if (ViewData["TitleSortParam"].ToString() == "Title")
                {
                    <span class="oi oi-arrow-bottom">▾</span>
                }
                else if (ViewData["TitleSortParam"].ToString() == "title_desc")
                {
                    <span class="oi oi-arrow-top">▴</span>
                }
            </a></td>
            <td><a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["DescriptionSortParam"]">
                Desctiption
                        @if (ViewData["idSortParam"] != null)
                @if (ViewData["DescriptionSortParam"].ToString() == "Description")
                {
                    <span class="oi oi-arrow-bottom">▾</span>
                }
                else if (ViewData["DescriptionSortParam"].ToString() == "description_desc")
                {
                    <span class="oi oi-arrow-top">▴</span>
                }
            </a></td>
            <td><a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["DateSortParam"]">
                Date on
                        @if (ViewData["idSortParam"] != null)
                @if (ViewData["DateSortParam"].ToString() == "Date")
                {
                    <span class="oi oi-arrow-bottom">▾</span>
                }
                else if (ViewData["DateSortParam"].ToString() == "date_desc")
                {
                    <span class="oi oi-arrow-top">▴</span>
                }
            </a></td>
            <td><a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["AuthorSortParam"]">
                Author Name
                        @if (ViewData["idSortParam"] != null)
                @if (ViewData["AuthorSortParam"].ToString() == "Author")
                {
                    <span class="oi oi-arrow-bottom">▾</span>
                }
                else if (ViewData["AuthorSortParam"].ToString() == "author_desc")
                {
                    <span class="oi oi-arrow-top">▴</span>
                }
            </a></td>
            <td></td>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td style="border: 1px solid black;">@book.BookId</td>
                <td style="border: 1px solid black;">@book.Title</td>
                <td style="border: 1px solid black;">@book.Description</td>
                <td style="border: 1px solid black;">@book.PublishedOn</td>
                <td style="border: 1px solid black;">@book.Author.Name</td>
                <td><a asp-route-id="@book.BookId" asp-action="change"><button asp-controller="Home" type="button">Изменить</button></a></td>
                <td><button asp-action="Delete" value="@book.BookId" id="BookId" name="id" type="submit">Удалить</button></td>
            </tr>// Разобраться с кнопкой удаления 
            
        }
        <a asp-action="addBook"><button asp-controller="Home" type="button">Добавить книгу | Изменить автора</button></a>
        <a asp-action="addAuthor"><button asp-controller="Home" type="button">Добавить автора</button></a>
    </table>
    </form>
</body>
</html>