@model IEnumerable<Lr5.Models.Book>
@{
    //ViewData["Title"] = "Список книг";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Книжный магазин</title>
</head>
<body>
    <h3>Books</h3>
    <form  asp-controller="Home" method="post">
    <table style="border: 3px solid black;">
        <tr>
            <td>id</td>
            <td>Tittle</td>
            <td>Desctiption</td>
            <td>Date on</td>
            <td>Author Name</td>
            <td></td>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td style="border: 1px solid black;">@book.BookId</td>
                <td style="border: 1px solid black;">@book.Title</td>
                <td style="border: 1px solid black;">@book.Description</td>
                <td style="border: 1px solid black;">@book.PublishedOn</td>
                <td style="border: 1px solid black;">@book.Author.Name</td>
                <td><a asp-route-id="@book.BookId" asp-action="change"><button asp-controller="Home" type="button">Изменить</button></a></td>
                <td><button asp-action="Delete" value="@book.BookId" id="BookId" name="id" type="submit">Удалить</button></td>
            </tr>// Разобраться с кнопкой удаления 
            
        }
            <a asp-action="addBook"><button asp-controller="Home" type="button">Добавить книгу</button></a>
    </table>
    </form>
</body>
</html>