@if (User.Identity.IsAuthenticated)
{
    <nav style="background-color: #e3f2fd;" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a style="color: rgb(0, 74, 210);" class="navbar-brand" href="@Url.Action("Main", "home")"><b>Easy Learn</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Main", "home")">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Предметы</a>
                    </li>
                    <a class="nav-link active" aria-current="page" href="@Url.Action("News", "home")">
                        Новости
                    </a>
                </ul>
                <form class="d-flex w-50" role="search" style="padding-right: 10px;">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a asp-action="UserPage" asp-controller="user">Мой аккаунт</a>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-action="Logout" asp-controller="User"><button type="button" class="btn btn-warning">Выйти</button></a>
                    </div>

                </form>
            </div>
        </div>
    </nav>
}
else
{
    <nav style="background-color: #e3f2fd;" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a style="color: rgb(0, 74, 210);" class="navbar-brand" href="@Url.Action("Main")"><b>Easy Learn</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Main")">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#">Предметы</a>
                    </li>
                    <a class="nav-link" href="@Url.Action("News")" aria-current="pageNews">
                        Новости
                    </a>
                </ul>
                <form class="d-flex w-50" role="search" style="padding-right: 10px;">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a style="padding-right: 5px;" href="@Url.Action("Authorization")"><button type="button" class="btn btn-outline-secondary">Вход</button></a>
                        <a href="@Url.Action("Register")"><button type="button" class="btn btn-warning">Зарегистрироваться</button></a>
                    </div>

                </form>
            </div>
        </div>
    </nav>
}

